@import '~@angular/material/theming';
@import "../node_modules/ngx-toastr/toastr.css";

@include mat-core();

@import './themes/black-theme.scss';
@import './themes/light-theme.scss';

.my-light-theme {
    @include angular-material-theme($my-light-theme);
}
  
.my-dark-theme {
    @include angular-material-theme($my-black-theme);
}

html, body, app-root  {
  /* overflow: hidden; */
  height: 100%;
  min-height: 100%;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}